#container {
   width: 1024px;
   margin: auto;
}

#container::before {
   content: 'No media query';
   float: left;
   color: white;
   padding: 24px;
   margin: 0 32px 7px 0;
   background-color: #8AA0B2;
}

@media (max-width: 1200px) {
   #container {
      width: 768px;
   }

   #container::before {
      content: 'max-width: 1200px';
      background-color: #4A6888;
   }
}

@media (max-width: 960px) {
   #container {
      width: 80%;
   }

   #container::before {
      content: 'max-width: 960px';
      background-color: #09325E;
   }
}
