#container {
   /*width: 1024px;*/
   width: 80%;
   margin: auto;
}

#container::before {
   content: 'No media query';
   float: left;
   color: white;
   padding: 24px;
   margin: 0 32px 7px 0;
   background-color: #8AA0B2;
}

@media (min-width: 960px) {
   #container {
      width: 755px;
   }

   #container::before {
      content: 'min-width: 960px';
      background-color: #09325E;
   }
}

@media (min-width: 1200px) {
   #container {
      width: 960px;
   }

   #container::before {
      content: 'min-width: 1200px';
      background-color: #4A6888;
   }
}
