html {
   font-size: 32px;
}

p {
   display: flex;
}

@media (min-width: 601px) and (max-width: 800px) {
   span:nth-child(1) {
      order: 3;
   }

   span:nth-child(2) {
      order: 2;
   }

   span:nth-child(3) {
      order: 4;
   }

   span:nth-child(4) {
      order: 1;
   }
}

@media (max-width: 600px) {
   span:nth-child(3) {
      order: 2;
   }

   span:nth-child(4) {
      order: 1;
   }
}
